<section id="topBar">
  <a href='/'><h1>Best Books!</h1></a>
  <div id='hamburger'>
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
  </div>
</section>
    <nav>
    <div id='extended-nav'> 
      <a href='new-book'>ADD BOOK</a>
      <a href='search'>SEARCH</a>
    </div>
    </nav>