<!DOCTYPE html> 
<html> 
<head>
  <title>
    Book App
  </title>
  <link rel="stylesheet" type='text/css' href="/styles/base.css"/>
</head>

<body>
<p>hello World! I Came from the view folder.</p>

<h3><%=books.length %> Books</h3>

<% books.forEach(book => { %>
  <div class=book-card >
  <h2><%=book.title %></h2>
  <h3><%=book.author %></h3>
  <img src=<%=book.image_url %> alt="">
</div>
<% }) %>

</body>

</html>