<html> 
  <head>

    <%- include ../partials/head %> 
    
  </head>

  <body>
    <header>

        <%- include ../partials/header %>

        <section id="lowerBar">
          <h3 class="headerh3">Add a New Book</h3>
        </section>

    </header>
    
    <main>

      <form method="POST" action="/books/" id="bookForm">         
        <input type="text" name="author" placeholder="Author here!" required autocomplete="off"/>
        <input type="text" name="title" placeholder="Title here!" required autocomplete="off"/>
        <input type="url" name="image_url" placeholder="Image URL here!" required autocomplete="off"/>
        <input type="text" name="isbn" placeholder="ISBN here!" required autocomplete="off"/>
        <textarea form="bookForm" name="description" placeholder="Description here!" required></textarea>
        <input type="submit" value="Submit" id="newBookButton">
      </form>
    
    </main>

    <%- include ../partials/scripts %>
    
  </body>
</html>